@import url("fonts.css");
 
*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

html,body{
  height: 100%;
} 

/*Scrollbar style*/
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #ffff00;
  outline: 1px solid #ffff00;
}
/*end Scrollbar style*/

/* navbar style */
 nav{
  background: transparent;
  position: absolute !important;
  width: 100%;
 }

 nav .container{
  justify-content: flex-end !important;
 }

 .navbar .navvbar-brand{
  margin-right: 4rem !important;
 }

 nav .container-fluid{
  justify-content: flex-end !important;
}
/* end navbar style */

/* header style */
header{
  color: white;
  background: url(../elements/ae-slide-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
  background-position: 100% 60%;
  min-height: 300px;
}

header .container{
  display: flex;
  justify-content: center;
}

.header_title > h1 {
  color: #ffff00;
  text-align: left;
  letter-spacing: -3px;
  opacity: 1;
  font-size: 100px;
  line-height: 150px;
  font-family: 'poppins';
  font-weight: 600;
}

.header_subtitle_one{
  text-align: left;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  font-size: 40px;
  line-height: 50px;
  font-family: 'poppins';
  font-weight: 700;
  margin-bottom: 1rem;
}

.header_subtitle_two{
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  font: normal normal 300 70px/50px poppinslight;
  font-weight: 500;
  margin-left: 10%;
}

.header_subtitle_one p {
  display: inline-block;
}

.text{
  color: #000000;
  text-align: center;
  letter-spacing: 0px;
  font: normal normal 300 28px/35px nunitolight;
}

.container .paragraph {
  width: 845px;
  margin: 78px 214px;
}

.text:nth-child(3){
  font-weight: bolder;
  font-family: 'nunitobold';
}

.section_title .container {
  width: 70% !important;
}

.hbspt-form,.hs-form-iframe-0 {
  width: 100% !important;
}

.section_title{
  text-align: center;
  font: normal normal bold 50px/76px poppinsregular;
  letter-spacing: -1.5px;
  color: #000000;
  opacity: 1;
}
/* end header style */

/*footer style*/
footer{
  background-color: #313131;
  padding-bottom: 40px;
}

footer .container {
  height: 100%;
}

.title-footer{
  display: flex;
  font: 57px khandregular;
  color: #FFFFFF;
}

.line {
  color: #FFFF00;
  font-size: 72px;
  line-height: 0px;
  display: inline-block;
}

.footer-column-email{
  font: normal normal 300 20px/25px khandregular;
  color: #FFFFFF;
}

.aenima-email{
  font: normal normal 300 20px/25px khandmedium;
  color: #FFFFFF;
}

.column-country{
  font: 19px khandlight;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

strong{
  font: normal normal 300 20px/25px khandmedium;
}

.column{
  padding-left: 0 !important;
  padding-right: 101px !important;
}

.container-footer{
  margin-right: 6%;
  margin-left: 6%;
}

.col-md-12 > a[href="#page-top"]{
  margin-bottom: 14px;
  margin-top: 50px;
}
/*end footer style*/

/* mediaquery*/
@media (max-width: 768px){
  .header_title > h1 {
    font-size: 59px;
  }

  nav .container-fluid {
    justify-content: center !important;
  }

  .header_title{
    /* margin: 46px 36px 26px 46px; */
    height: 100px;
  }

  .header_title > h1 {
    margin-bottom: 0;
  }

  .header_subtitle_one{
    font-size: 21px;
    /* margin: 0 46px 6px; */
  }

  .header_subtitle_two{
    font-size: 41px;
    /* margin: 0 0 56px 73px; */
  }
  .text{
    font-size: 24px;
  }

  .container .paragraph {
    margin: 64px 46px 40px 29px;
  }

  .section_title{
    font-size: 30px;
    margin-bottom: 0px;
  }

  .formulario .container {
    padding-left: 0;
    padding-right: 0;
  }

  .column{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .container-footer {
    margin-right: 8%;
    margin-left: 8%;
  }

  header .container .row{
    margin:auto;
  }
}

@media (max-width: 320px){
  .header_title > h1 {
    color: #ffff00;
    font-size: 46px;
  }
  .header_title{
    margin-top: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
  }

  .header_subtitle_one {
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 5px;
    /* margin: 0 24px 6px; */
  }

  .header_subtitle_two {
    font-size: 38px;
    padding-left: 28px;
    margin-left:0;
    /* margin-left: 48px; */
  }

  .container .paragraph {
    margin: 64px 0px 40px 0;
  }

  .section_title {
    font-size: 27px;
  }

  header .container .row{
    margin:auto;
  }


}

  



